---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import Features from '../components/Features';
import Pricing from '../components/Pricing';
import CTA from '../components/CTA';
import Footer from '../components/Footer';
---

<Layout>
  <Navbar client:load />
  <main>
    <Hero client:load />
    <Features client:load />
    <Pricing client:load />
    <CTA client:load />
  </main>
  <Footer client:load />
</Layout>
